/* styles.css */
@import "tailwindcss";

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  .res-p {
    padding-top: calc(3.85vw + 46px);
    padding-bottom: calc(3.85vw + 46px);
    padding-left: calc(14.1vw - 19px);
    padding-right: calc(14.1vw - 19px);
  }
}
