@import "tailwindcss";

.custom-border {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #ffffff80, #00000000) 1;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}
